.carousel-caption h5 {
    position: relative;
    right: -200px;
    bottom: 200px;
}

.carousel-caption p {
    position: absolute;
    left: 450px;
    bottom: 150px;

}

#social-button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: white;
    color: black;
    border: black;
    border-radius: 100%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    align-content: center;
}

#social-button:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño del botón en un 10% al pasar el ratón por encima */
}

#social-container {
    display: none;
    position: fixed;
    bottom: 50px;
    right: -60px;


}

#social-container a {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
    color: black;
}

#social-container a:hover {
    color: black;
}

#social-container a i {
    margin-right: 5px;

}

@media only screen and (max-width: 768px) {
    #social-button {
        font-size: 14px;
        bottom: 10px;
        right: 10px;
        padding: 10px;
    }
}



.promocion {
    text-align: center;
    padding: 20px;
}

.paginas {
    text-align: center;
}

.ofertas {
    background-color: #f8f9fa;
    padding: 20px;
    margin: 50px;
}

.page-link {
    color: #007bff
}

.page-link:hover {
    text-decoration: underline;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.fabric {
    margin: 50px;
}

.intermedio {
    margin: 50px;
    text-align: center;
    color: red;
}

.intermediotext {
    margin: 50px;
    text-align: center;
    color: black;
}

.offers {
    margin: 10px;
}

.slidermargin {
    margin: 50px;
}

.principal-products {
    margin: 0px;
}

.logo{
    width: 400px;
    height: 100px;
}

.logodiv{
    text-align: center;
}

.bgcolor {
    margin: 10px;
}


.slider-text {
    color: red;
    left: 220px;
}


.slider-text-md {
    color: black;
    right: -10px;
}

h5 h1 h2 {
    font-family: 'Dosis', sans-serif;
}

p {
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shantell Sans', cursive;
}

.card-text ins {
    font-size: 24px;
    color: red;
}

.card-text span {
    font-size: 18px;
    color: green;
}



/*.card-text{
    background-color: black;
    color: blue;
}

.card-body{
    background-color: black;
}*/

.navbardiv {
    align-items: center;
}


.compromiso {
    color: black;
}
